<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add movie</title>
      <meta charset="UTF-8">
    <!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% include'adminheader.html' %}
<main class="main-content">
				<div class="container">
					<div class="page">
                        <h2>add movie</h2>
                        <table>
                           <form method='post' class="container">
                               <tr>{{ msg }}
                                <td>Movie name:
                                <input  class="form-control" type='text' name='moviename' ><br></td>
                                </tr>
                                <tr>
                                <td>Description:
                                <textarea  class="form-control" id="description" name="description" rows="4" cols="50">
                                </textarea>
                                    <br>
                                </tr>
                                 <!--<tr><td>Login as:</td><td><select name='loginAs' ><option value='0'>User</option><option value='1'>Manager</option><option value='2'>Admin</option></select></td></tr>  -->
                                  <tr>
                                  <td colspan='2'><input type='submit' name='submit' value='Add movie'  class="btn btn-primary" ><br/></td>
                                   </tr>
                                   </form>
                                    </table>
                         </div>
                </div>
            </main>
{% include'footer.html' %}
</body>
</html>